{% extends 'djangoapp/layout.html' %}
{% block title %}
    courcse
{% endblock %}

{% block content%}
    <p>Search Results
        Web results
        
        Lipsum generator: Lorem Ipsum - All the facts
        www.lipsum.com
        Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
        
        Lorem Ipsum – Generator, Origins and Meaning
        loremipsum.io
        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to h</p>
{% endblock %}