<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting session</title>
</head>
<body>
    <form method="POST" action="" style="margin-left: 500px;">
        {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" ><br>
            <label>Password</label>
            <input type="password" name="password" >
            <button type="submit">Submit</button>
   </form>
    
    
</body>
</html>