<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
    <title>students</title>
</head>
<body>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
      </tr>
      {% for student in students %}
      <tr>
          
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>  
            <td>{{student.address}}</td> 
        
          
      </tr>
      {% endfor %}
    </table>
</body>
</html>